#containerPopulation {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
   
    
}



#containerRevenue {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
   
}


#containerFF {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}


#containerST {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}